<style>
  .md3-text {
    font-size: 18px;
    border-left: solid;
  }
  h1.recruit-head {
    color: #2196F3;
  }
  h3.box-title{
    color: #5E5E5E;
  }
</style>
<% if @otherevent.size > 0 %>
  <div id="index_view" class="card">
    <div class="card-header">
      <h1 class="recruit-head">説明会・イベント情報</h1>
      <br>
      <% @otherevent.each do |e| %>
        <div class="row">
          <div class="col-md-3">
            <%= image_tag(@company.image.url, width: '100%', alt: @project.name) %>
          </div>
          <div class="col-md-9">
            <h2><%= e.title %></h2>
            <br>
            <div class="row">
              <div class="col-md-4">
                イベントタイプ：
              </div>
              <div class="col-md-8">
                <%= otherevent.names_with_otherevent_type.key(e.otherevent_type) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                開催日時：
              </div>
              <div class="col-md-8">
                <%= l(e.start)%> - <%= l(e.end)%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                開催場所：
              </div>
              <div class="col-md-8">
                <%= e.address %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <%= link_to 'イベントページ', mypage_root_path, class: 'btn btn-lg btn-block btn-info-o' %>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <%= link_to '応募する', mypage_root_path, class: 'btn btn-lg btn-block btn-info' %>
              </div>
            </div>


          </div>
        </div>
      <% end %>
      <br>
    </div>
  </div>
<% else %>
<div id="index_view" class="card">
  <div class="card-header">
    <h1 class="recruit-head">説明会・イベント情報</h1>
    <br>
    説明会・イベントの予定はありません。
  </div>
</div>
<% end %>