<section class="content-header">
  <h1>企業の入出金記録</h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body no-padding">
      <table class="table">
        <thead>
        <tr>
          <th><%= sort_link(@q, :user_id, '会社名') %></th>
          <th><%= sort_link(@q, :project_id, 'プロジェクト') %></th>
          <th><%= sort_link(@q, :depository, '借方金額(DR)') %></th>
          <th><%= sort_link(@q, :credit, '貸方金額(CR)') %></th>
          <th><%= sort_link(@q, :balance, '残高') %></th>
          <th><%= sort_link(@q, :transaction_type, '入出金種別') %></th>
          <th><%= sort_link(@q, :transaction_at, '日時') %></th>
        </tr>
        </thead>

        <tbody>
        <% @company_transactions.each do |t| %>
          <tr>
            <td><%= link_to t.company.name, admin_company_path(t.company) %></td>
            <td><%= link_to(t.project.name.truncate(12), p) %></td>
            <td><%= number_to_currency(t.depository) %></td>
            <td><%= number_to_currency(t.credit) %></td>
            <td><%= number_to_currency(t.balance) %></td>
            <td><%= CompanyTransactionRecord.names_with_transaction_type.key(t.transaction_type) %></td>
            <td><%= l(t.transaction_at, format: :short) if t.transaction_at.present? %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="box-footer">
      <%= paginate @company_transactions, theme: 'admin' %>
    </div>
  </div>
</section>
