<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">事前審査書類の履歴</h4>
    </div>
    <div class="modal-body">
      <% if @document_histories.size > 0 %>
        <table class="table" id="accordion">
          <thead>
          <tr>
            <th>操作</th>
            <th>変更日時</th>
            <th><%= t('activerecord.attributes.company/preview_document.name') %></th>
            <th><%= t('activerecord.attributes.company/preview_document.document_type') %></th>
            <th><%= t('activerecord.attributes.company/preview_document.file') %></th>
          </tr>
          </thead>
          <tbody>
          <% @document_histories.each do |h| %>
            <tr>
              <td><%= t("sousa.message.#{h.change}") %></td>
              <td style="white-space: nowrap;"><%= l(h.created_at) %></td>
              <td><%= h.name %></td>
              <td><%= Company::PreviewDocument.names_with_document_type.key(h.document_type) %></td>
              <td><%= URI.decode(h.file.split('/')[-1]) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        履歴はありません
      <% end %>
    </div>
  </div>
</div>
