<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>DM</title>
  <%= stylesheet_link_tag 'dm', media: 'all' %>
</head>
<body class="A4">
<section class="sheet">
  <div class="address">
    <% if @change_notification.address_modified %>
      〒<%= @change_notification.zip_code %><br>
      <%= @change_notification.prefecture.name %><%= @change_notification.city %><%= @change_notification.address1 %><br>
      <%= @change_notification.address2 %><br>
    <% else %>
      〒<%= @student.zip_code %><br>
      <%= @student.prefecture.name %><%= @student.city %><%= @student.address1 %><br>
      <%= @student.address2 %><br>
    <% end %>
    <div style="text-align: right">
      <%= @change_notification.name_modified ? @change_notification.full_name : @student.full_name %>様
    </div>
  </div>

  <div class="mb-60" style="text-align: right">
    <div class="mb-20">
      <%= Date.today.to_era("%O%E年%m月%d日") %>
    </div>
    <div>
      東京都品川区東五反田５－２５－１８<br>
      ＥＮＺＯ五反田８Ｆ<br>
      ＴＥＬ03-6721-6691<br>
      株式会社UNCHAIN<br>
      RECMATCH
    </div>
  </div>

  <div class="row mb-40">
    <div class="col-md-10 col-md-offset-1">
      <div class="text-center mb-40">
        <h4>登録内容変更の手続き完了のご案内</h4>
      </div>
      <p>
        拝啓　時下ますますご清栄のこととお慶び申し上げます。<br>
        平素は格別のご高配を賜り、厚く御礼申し上げます。<br>
        <%= @change_notification.name_modified ? @change_notification.last_name : @student.last_name %>様のご登録内容変更の手続きが完了いたしました。<br>
        今後ともRECMATCHをご愛顧いただきますようお願い申し上げます。
      </p>
      <div class="pull-right">
        敬具
      </div>
    </div>
  </div>
</section>
</body>
</html>
