<% content_for(:title) {'アカウントロック解除' } %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">アカウントロック解除</h2>
      </div>
      <div class="card-body card-padding">
        <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :unlock_token %>
          <div class="mb-30">
            <%= f.input :email, required: true, autofocus: true %>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= f.button :submit, '解除の方法をメールに送信する', class: 'btn-block btn-lg btn-info' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
