<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>株式投資型クラウドファンディング業務によりご購入される<%= @project.company.name %>の契約締結前交付書面</title>
  <%= wicked_pdf_stylesheet_link_tag 'ledger' %>
  <style>
    body {
      font-size: 14px;
      font-family: "IPA明朝", "IPAMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
  </style>
</head>
<body class="contract-before">
  <h2 class="text-center">
    株式投資型クラウドファンディング業務によりご購入される<br>
    <%= @project.company.name %>の契約締結前交付書面
  </h2>

  <div class="clearfix mb-30">
    <div class="cloud-capital">
      株式会社UNCHAIN<br>
      東京都品川区東五反田五丁目25番18号
    </div>
  </div>

  <div class="mb-20">
    　この書面は金融商品取引法第37条の3の規定によりお渡しするものです。<br>
    下記金融商品取引契約を行っていただくうえでのリスクや留意点等が記載されています。<br>
    あらかじめよくお読みいただき、ご不明な点はお取引開始前にご確認ください。
  </div>

  <div class="mb-30">
    <ol>
      <li>株式投資型クラウドファンディングは非上場株式の募集による資金調達手段であり、流通取引が行われることを前提としておりません。</li>
      <li><%= @project.company.name %>（以下、発行者という。）や当社に起因する事由により、株式投資型クラウドファンディング業務が中止されることがあります。</li>
      <li>株式投資型クラウドファンディング業務により<%= @project.company.name %>株式をご購入される際には、あらかじめこの書面に記載されたリスクや留意点等をよくお読みいただき、ご不明な点はお申込み前にご確認ください。</li>
    </ol>
  </div>

  <div class="frame page-break">
    <div class="mb-25">
      <h3>手数料など諸費用について</h3>
      　株式投資型クラウドファンディング業務により募集株式の取得のお申込みをする場合は、株式の発行価格（購入対価）のみをお支払いただきます。お客様の手数料はかかりません。なお、購入代金の振込手数料は、お客様にご負担いただきます（お客様からのお振込みの全部又は一部がキャンセル扱い『お客様が支払うべき金額を支払わず、結果的にお客様の募集株式を引き受ける権利の一部又は全部が失権』となった場合、当社へ着金した金額から約定した金額（キャンセル扱いとならなかった金額）を控除した金額を当社からお客様に返金いたしますが、その際の振込手数料は当社が負担します。）。<br>
      　発行者から当社に対しては、審査料10万円が支払われるほか、今回の株式投資型クラウドファンディングが成立した場合、株式の発行価格の総額の内、3,000万円までの金額に対する20％相当額（税込）に、3,000万円を超える金額に対する15％相当額（税込）を加えた金額、6,000万円を超える金額に対する10％相当額（税込）を加えた金額が当社の手数料として発行者から当社に支払われます。（なお、2度目以降の場合は6,000万円まで15％相当額（税込）となります。）<br>
      　また、約定日の翌年以降、毎年60万円が情報開示に係るシステム利用料として発行者から当社に支払われます。（約定日から1年間については、情報開示に係るシステム利用料は発生しません。）
    </div>

    <div class="mb-25">
      <h3>株式投資型クラウドファンディングによるお取引及びご購入される株式のリスク・留意点等について</h3>
      <div class="mb-10">
        　株式投資型クラウドファンディング業務による募集株式のお取引、及びそのお取引によってご購入される株式には、以下のリスク・留意点がありますのでご確認ください。
        リスクに係る事象により、お客様に損失が生じるおそれがあります。
      </div>
      <ol>
        <li>募集株式は非上場の会社が発行する株式であるため、取引の参考となる気配及び相場が存在いたしません。また、換金性も著しく劣ります。</li>
        <li>発行会社の発行する株式は譲渡制限が付されており、当該株式を譲渡する際は発行会社の承認を受ける必要があるため、当該株式の売買を行っても権利の移転が発行者によって認められない場合があります。また、換金性が乏しく、売りたいときに売れない可能性があります。</li>
        <li>募集株式の発行者の業務や財産の状況に変化が生じた場合、発行後の募集株式の価格が変動することによって、価値が消失する等、その価値が大きく失われるおそれがあります。</li>
        <li>募集株式は、社債券のように償還及び利息の支払いが行われるものではなく、また、株式ではありますが配当が支払われないことがあります。</li>
        <li>募集株式について、金融商品取引法に基づく開示又は金融商品取引所の規則に基づく情報の適時開示と同程度の開示は義務付けられていません。</li>
        <li>有価証券の募集は、金融商品取引法第4条第1項第5号に規定する募集等（発行価額が1億円未満の有価証券の募集等）に該当するため、金融商品取引法第4条第1項に基づく有価証券届出書の提出を行っていません。</li>
        <li>発行者の財務情報について、公認会計士又は監査法人による監査は行われていません。</li>
        <li>募集株式の発行者に対するお申込みは1年間当たり50万円を上限とします。</li>
      </ol>
    </div>

    <div class="mb-25">
      <h3><%= @project.company.name %>に投資するに当たってのリスク</h3>
      <%= @project.risk_summery.html_safe %>
    </div>

    <div class="mb-25">
      <h3>ファンディング・プロジェクトについて</h3>
      <ul>
        <li>
          <h4>成立日・約定日及びお振込み等について</h4>
          <p>ファンディング・プロジェクトは、下記1.又は2.のいずれかをもって成立するものとし、ファンディング・プロジェクトの成立日をもってお客様との約定日とします。約定日の後に最初に到来する月曜日から3営業日以内の当初支払期限に、申込金額を当社銀行口座にお振込みいただきます。お振込み先はファンディング・プロジェクトの成立日に、マイページに貼付される契約締結時交付書面（取引報告書）に記載されますのでご確認ください。</p>
          <ol>
            <li>応募額が目標募集額に到達した状態で申込期間が満了し、当該状態で申込期間の最終日から数えて9日目が到来すること。</li>
            <li>応募額が申込期間中に上限応募額（＊）に到達し、そのまま目標募集額を下回ることなく、上限応募額に到達した日から起算して10日目が到来すること。（但し、上限応募額に到達した日が申込期間最終日であった場合は当該最終日から起算して9日目が約定日となります。)</li>
          </ol>
          <p>
            ファンディング・プロジェクトが成立しても、振込金額及び振込手数料が一部のお客様より振込まれないことにより、発行者が当初目的としていた業務のための資金調達ができず、発行者の財務状況・経営成績に悪影響を及ぼす可能性があります。
            この場合、発行者に対し現時点での資金調達額を伝え、当初の目標募集額に基づく資金使途の履行可能性、現時点での資金調達額に基づく資金使途の変更及び当初予定事業における影響等を発行者と協議し、発行者の判断により募集株式の発行を行う場合には、お客様に対し当該事項をメール及びWebサイトで通知いたします。
            一方、上記協議の結果によっては、発行者の判断により株式の募集が中止されることがあります。その場合は、お客様に対し当該事項及び中止の理由をメール及び募集ページにて通知いたします。
          </p>
          <p>
            なお、お申込みの成立日（約定日）後、当初支払期限（約定日の後に最初に到来する月曜日から3営業日以内）までにお振込みがなかった場合は当初支払期限を経過した日から起算して10日後を最終期限日として、お客様に再請求を行います。
            最終期限日までにお支払いいただけなかった場合は、その分を発行者に払い込むことができないため、株式の割り当てを受ける権利を喪失するとともに、以後のお取引の停止その他の措置の対象となる場合があります。
          </p>
          <p>
            なお、申込金額のお振込みに際して、振込期間内にお客様が振込手数料をご負担せず、最終期限日（当初支払期限を経過した日から起算して10日後）までにお振込みが確認できない場合は、お申込みに係る株式のうち最小取扱単位分の金額（株数）をキャンセル扱いとさせていただきます。
            その場合、当該最小取扱単位分の金額から振込手数料を控除した金額を返金いたしますが、その際の振込手数料は当社が負担します。なお、当該キャンセル扱い及び返金の結果、お客様は応募したコースに係る金額と異なる金額を当社にお振込いただいたことになりますが、キャンセル扱い分以外の株数に係る金額がお客様のお振込額として、当社から発行者へ入金されます。（上記・プロジェクト成立日（約定日）・振込期間に関しては、発行者の都合、その他の事情で延期になる場合があります。）
          </p>
        </li>
        <li>
          <h4>当該有価証券の取得に係る応募額が目標募集額を下回る場合及び上回る場合における当該応募額の取扱いの方法及び、キャンセル待ちの申し込みについて</h4>
          <p>
            申込期間の最終日に、募集株式の取得に係る応募額が目標募集額を達成しない場合、募集は中止されます。
            ただし、目標募集額に到達しない場合に発行者との協議の上、申込期間を延長する場合があります。
            当該場合には、お申込みいただいた学生にメールで連絡するとともに募集ページにその旨表記いたします。
            申込期間中に、募集株式の取得に係る応募額が目標募集額を達成した場合、応募総額が上限応募額に達するまで先着順でお申込みを受け付けます。
          </p>
          <p>
            上限応募額に到達した場合のみ24時間のキャンセル待ちの申し込みが可能となります。
            その場合、応募の総額が上限応募額に達した時点で通常の取得申込は停止され、当該時点より24時間を経過するまでの間、キャンセル待ちの申込を受け付けます。
            （但し、申込期間が24時間を切った場合でのキャンセル待ちの申込はキャンセル待ちの時間が24時間ではなく、当該申込期間終了時までとなります。）
            又、キャンセル待ちの申込は案件ごとに設定される最小取扱単位分の金額（株数）のみの受付となります。
            キャンセル待ちに応募した学生に対しては、約定日までにキャンセルが発生した金額について、キャンセル待ち申込の先着順により募集株式を割り当てます。
            したがって、上限応募額を超過して株式が発行されることはありません。
            なお、キャンセル待ちの応募についても、申込日を含め8日間の撤回可能期間が設けられます。
            割当が決定してから申込撤回期間が起算されるわけではございませんので、ご注意下さい。
          </p>
          ※上限応募額＝発行者が発行決議によって定める募集株式の発行上限額
        </li>
        <li>
          <h4>当該有価証券の取得に係る応募代金の管理方法について</h4>
          <p>
            お客様にはファンディング・プロジェクト成立日を約定日とし、その後に到来する最初の月曜日から3営業日以内に、申込金額を当社銀行口座にお振込みいただきます。
            支払期限までに申込金額がすべて振り込まれた場合、当社銀行口座にお振込みいただいた金額はCSVファイルを基に金融機関の管理画面よりアップロードを行い、同じ週の金曜日に当社口座より発行者の口座に支払いを行います。
            なお、金曜日が休業日の場合は全額を金曜日（当日が休日の場合は翌週の最初の営業日）から起算して3営業日以内に信託銀行の信託口座に移管し、移管日の翌日以降3営業日以内に発行者の口座に入金します。
            プロジェクト成立後、支払期限までに申込金額の全額が振込まれなかった場合は、すでに支払われている金額全てを3営業日以内に信託銀行当社口座に移管し、当初支払期限を経過した日から起算して10日後を最終期限としてお客様から残額の振込みが実行されるのを待つこととします。
            最終期限日までにお振みいただいた全ての金額を、最終期限日から3営業日以内に発行者の口座に支払います。
            未入金の金額が存在する状態で募集を実行する場合には、当該金額について発行者に支払いができないため、該当金額については株式が発行されず失権することになります。
          </p>
        </li>
      </ul>
    </div>

    <div class="mb-25">
      <h3>募集株式の取得お申込みの撤回について</h3>
      　募集株式の取得申込（キャンセル待ちの申込を含む）について撤回を希望される場合、申込日から起算して8日以内に、当社のお客様毎に設定される管理画面のWebサイト上のキャンセルボタンをクリックすることで撤回する事ができます。
      撤回に際してキャンセル料等は発生しません。
      なお、ファンディング・プロジェクトの成立日（約定日）前であっても、当該お申込みの撤回が可能な期間は、お客様ご自身のお申込日から起算して8日以内に限られますので、ご注意ください。<br>
      　なお、募集株式の取得のお申込みに関しては、金融商品取引法第37条の6（クーリング･オフ）の規定の適用はありません。
    </div>

    <div class="mb-25">
      <h3>その他の留意点等</h3>
      <ul>
        <li>当社は募集株式及び発行者に関する照会につきWebサイト及び電子メールのみを利用して受け付けており、電話又は訪問の方法による回答をすることができません。</li>
        <li>募集株式の取得に当たっては、配当及び売却益等金銭的利益の追求より、むしろ発行者及びその行う事業に対する共感又は支援を主な旨としてご投資ください。</li>
        <li>当社の株式投資型クラウドファンディング業務については、法令諸規則によるほか、当社が定める別添の取扱要領に基づいて取り扱われます。</li>
        <li>当社の株式投資型クラウドファンディング業務を利用して資金調達を予定している会社と当社との間に利害関係が認められる場合は、その状況は、募集ページに表示され、併せて、個別銘柄毎の「契約締結前交付書面」にもその内容が記載されます。</li>
        <li>
          株式投資型クラウドファンディング業務に関する制度の内容の他、募集株式のご購入についての事務手続きやシステムの操作方法等のお問い合わせは当社Webサイトのお問い合わせフォームまたは下記メールアドレスまでご連絡ください。<br>
          ＊メールアドレス：info@recmatch.com<br>
          ＊株式投資型クラウドファンディング業務に係る銘柄に関するご質問への回答や説明は行うことができません。
        </li>
      </ul>
    </div>

    <div class="mb-25">
      <h3><span class="double-underline">金融商品取引契約の概要・発行者情報・募集事項の内容等</span></h3>
      <ol>
        <li>
          金融商品取引契約の概要<br>
          株式投資型クラウドファンディング業務として行う非上場有価証券の募集の取扱い<br>
          ※	詳しくは契約締結前交付書面「ファンディング・プロジェクトについて」をご確認ください。
        </li>
        <li>
          募集株式の発行者の商号及び住所、資本金等<br>
          <%= @project.company.name %><br>
          <%= @project.company.address %>
          <table>
            <tr>
              <td>資本金：</td>
              <td><%= @project.capital.to_s(:delimited) if @project.capital.present? %>円（<%= l(@project.capital_submitted_on) if @project.capital_submitted_on.present? %>現在）</td>
            </tr>
            <tr>
              <td>発行済株式総数：</td>
              <% if @project.id == 22 %>
                <td><%= @project.issued_stock.to_s(:delimited) if @project.issued_stock.present? %>株（2018年2月9日現在）</td>
              <% else %>
                <td><%= @project.issued_stock.to_s(:delimited) if @project.issued_stock.present? %>株（<%= l(@project.transcript_submitted_on) if @project.transcript_submitted_on.present? %>現在）</td>
              <% end %>
            </tr>
            <tr>
              <td>発行可能株式総数：</td>
              <td><%= @project.issuable_stocks.to_s(:delimited) if @project.issuable_stocks.present? %>株</td>
            </tr>
            <tr>
              <td>設立日：</td>
              <td><%= l(@project.company.birth_on) if @project.company.birth_on.present? %></td>
            </tr>
            <tr>
              <td>決算日：</td>
              <td><%= "#{@project.company.settlement_month}月#{@project.company.settlement_day}日" if @project.company.settlement_month.present? && @project.company.settlement_day.present? %></td>
            </tr>
          </table>
        </li>
        <li>
          募集株式の発行者の代表者<br>
          <% @project.company_presidents.each do |president| %>
            <%= "#{president.position} #{president.full_name}" %><br>
          <% end %>
        </li>
        <li>
          募集株式の種類及び数（上限）<br>
          普通株式　　　　　<%= (@project.solicit_limit / @project.stock_price).to_s(:delimited) %>株
        </li>
        <li>
          募集株式の払込金額<br>
          １株あたり　　　  <%= @project.stock_price.to_s(:delimited) %>円
        </li>
        <li>
          資金使途<br>
          <%= @project.how_to_use.html_safe if @project.how_to_use.present? %>
        </li>
        <li>
          投資金額のコースおよび株数<br>
          <% @project.products.each do |product| %>
            <%= "#{product.title}    (#{product.stocks}株)" %><br>
          <% end %>
        </li>
        <li>
          申込期間<br>
          <%= "#{l(@project.start_on)}〜#{l(@project.finish_at, format: :short)}" %>
        </li>
        <li>
          目標募集額<br>
          <%= "#{(@project.solicit / 10000).to_s(:delimited)}万円（上限応募額　#{(@project.solicit_limit / 10000).to_s(:delimited)}万円）" %>
        </li>
        <li>
          払込期間<br>
          <% if @project.deliv_start_changed_on.present? && @project.deliv_end_changed_on.present? %>
            <%= "#{l(@project.deliv_start_changed_on)}〜#{l(@project.deliv_end_changed_on)}" %><br>
          <% else %>
            <%= "#{l(@project.deliv_start_on)}〜#{l(@project.deliv_end_on)}" %><br>
          <% end %>
          上記期間は、会社法第199条第1項第4号の払込期間、すなわち、お客様にお振込みいただいて当社がお預かりしている応募代金を、最終的に当社から発行者に払い込む期間の記載です。詳しくは前掲「ファンディング・プロジェクトの成立日・約定日及びお振込みについて」をご確認ください。
        </li>
        <li>
          増加する資本金及び資本準備金
          <table>
            <tr>
              <td class="pr-10">増加する資本金の額</td>
              <td class="pr-10">1株あたり</td>
              <td class="text-right"><%= (@project.stock_price - @project.stock_price_for_reserve).to_s(:delimited) if @project.stock_price_for_reserve.present? %>円</td>
            </tr>
            <tr>
              <td class="pr-10">増加する資本準備金の額</td>
              <td class="pr-10">1株あたり</td>
              <td class="text-right"><%= @project.stock_price_for_reserve.to_s(:delimited) if @project.stock_price_for_reserve.present? %>円</td>
            </tr>
          </table>
        </li>
        <li>
          募集株式の譲渡制限<br>
          <%= @project.transfer_restriction %>
        </li>
        <li>
          募集株式の発行者の概況<br>
          <%= @project.company_summery.html_safe if @project.company_summery.present? %>
        </li>
        <li>
          公認会計士又は監査法人による監査<br>
          発行者の財務情報について、公認会計士又は監査法人による監査は行われていません。
        </li>
        <li>
          発行者における株主管理に関する事項<br>
          <%= @project.stockholder_management.html_safe if @project.stockholder_management.present? %><br>
          【連絡先】<br>
          電話番号：<%= @project.support_phone if @project.support_phone.present? %><br>
          メールアドレス：<%= @project.support_email if @project.support_email.present? %>
        </li>
        <li>
          発行者の事業の状況についての定期的な情報の提供方法<br>
          当社Webサイト上のマイページに情報を掲載します。
        </li>
        <li>
          事業計画の内容<br>
          【当該資金調達によって可能となる事業計画】
          <div class="mb-10">
            <%= @project.business_plan.html_safe if @project.business_plan.present? %>
          </div>
          なお、売上高成長率の予想は、契約締結前交付書面の別紙1-1、1-2をご参照ください。
        </li>
      </ol>
    </div>

    <div class="mb-25">
      <h3><span class="double-underline">電子申込型電子募集取扱業務等に関する事項</span></h3>
      <ol>
        <li>
          当該有価証券の取得に係る応募額が目標募集額を下回る場合及び上回る場合における当該応募額の取扱いの方法<br>
          前掲、ファンディング・プロジェクトについての「当該有価証券の取得に係る応募額が目標募集額を下回る場合及び上回る場合における当該応募額の取扱いの方法及び、キャンセル待ちの申し込みについて」をご確認ください。
        </li>
        <li>
          当該有価証券の取得に係る応募代金の管理方法<br>
          前掲、ファンディング・プロジェクトについての「当該有価証券の取得に係る応募代金の管理方法について」をご確認ください。
        </li>
        <li>
          募集株式発行者の審査の概要<br>
          <ol>
            <li>
              発行者及びその行う事業の実在性
              <ol>
                <li>履歴事項全部証明書を入手し、記載内容について検討するとともに代表取締役に対し質問を実施しました。</li>
                <li>履歴事項全部証明書記載の本店に訪問し、実在性を確認しました。</li>
                <li>入手した資料について、契約締結前交付書面記載情報との整合性を確認しました。また、記載事項につき虚偽の事実は一切存在しない旨の経営者確認書を入手し確認しました。</li>
              </ol>
            </li>
            <li>
              発行者の財務状況
              <%= @project.finance_condition.html_safe if @project.finance_condition.present? %>
            </li>
            <li>
              発行者の事業計画の妥当性
              <%= @project.business_plan_validity.html_safe if @project.business_plan_validity.present? %>
            </li>
            <li>
              発行者の法令遵守状況を含めた適格性
              <ol>
                <li>
                  事業の適法性及び社会性につき問題ない旨及び現時点において法令違反がない旨の募集取扱契約書及び経営者確認書を入手し確認しました。
                </li>
                <li>
                  反社会的勢力との関係は一切無く、将来にわたって関係を有することはない旨、また、新規取引先については反社会的勢力との関係の有無につき、
                  社内で調査体制を構築し反社会的勢力との関係排除の仕組みを構築する旨、及び既存取引先については、契約書に反社会的勢力排除の制約がある旨について募集取扱契約書および経営者確認書を入手し確認しました。
                </li>
                <li>
                  <%= @project.company_eligibility if @project.company_eligibility.present? %>
                </li>
              </ol>
            </li>
            <li>
              当社と発行者との利害関係の状況<br>
              当社との利害関係はなく、発行者は当社の取引関係、資本関係、人的関係から独立性が保たれている会社といえます。
            </li>
            <li>
              事業継続体制及びコーポレートガバナンス体制<br>
              <%= @project.governance_system.html_safe if @project.governance_system.present? %>
            </li>
            <li>
              調達する資金の使途<br>
              目標募集額及び上限応募額記載の資金使途につき、代表取締役へのヒアリングを実施し、その内容の根拠を確認して、経営者確認書を入手しました。
            </li>
            <li>
              目標募集額及び上限応募額が発行者の事業計画に照らして適当なものであることの確認<br>
              調達額の資金使途が、事業計画、売上高等推移予想の前提条件や仮定と整合していることを資料の確認及び代表取締役への質問により確認しました。
            </li>
            <li>
              情報提供の体制<br>
              学生に対する情報提供の体制について、業務進捗等の定性的情報に関しては営業及び開発の状況につき代表取締役が適時に把握できる体制にあります。
              また、会計数値等の定量的情報に関しては代表取締役が顧問税理士に相談のうえ情報整理しています。
              加えまして、情報提供の必要性及び情報提供義務について代表取締役が自ら認識していることを経営者確認書に確認しています。
              但し、現状の企業規模を踏まえての体制であり、今後、企業規模が拡大した場合には特に定量的情報につき適時に情報提供する体制構築が求められると考えられます。
              この点につき社内ルールを策定整備する事を代表取締役に確認しています。
              また、株主に対して法令に基づく事業報告、計算書類等及び事業の状況に関する適切な情報を定期的に提供可能であり、企業規模拡大に応じて適切に体制構築する旨の経営者確認書を入手し確認しています。
            </li>
            <li>
              当該店頭有価証券に投資するに当たってのリスク<br>
              当書面に記載した事業の状況、経理の状況等に関する事項のうち、学生の投資判断に重要な影響を及ぼす可能性のある事項について、発行者の計算書類等の提出書類及び代表取締役からのヒアリングを通じて確認しました。
              また、発行者は契約締結前交付書面の「株式投資型クラウドファンディングによるお取引及びご購入される株式のリスク・留意点等について」「<%= @project.company.name %>株式に投資するに当たってのリスク」及び募集ページの「企業のリスク等」に記載する発行者のリスクに係る事象の発生の可能性を認識した上で、その回避及び発生時の対応に努める方針である旨の経営者確認書を入手し確認しました。<br>
              なお、文中における将来に関する事項は、現時点において当社が判断したものであります。
            </li>
          </ol>
          <br>
          <p>上記内容を含む当社審査基準に係る内容を総合的に判断し、ファンディング・プロジェクト案件として取扱うものとします。</p>
        </li>
      </ol>

      　免責事項
      <ul>
        <li>
          審査手続及び結果について<br>
          上記審査手続及び結果は、金融商品取引業等に関する内閣府令第70条の2第2項第3号及び株式投資型クラウドファンディング業務に関する規則第4条第1項（日本証券業協会の自主規制規則）に基づく当社の審査規定に基づき実施された手続及び結果であり、投資判断の参考資料とするための情報を提供することを目的としており、証明や保証を行うための手続を含んでいません。<br>
          上記審査手続及び結果は、一般に公正妥当と認められる監査の基準又はレビューの基準に準拠して実施された手続及び結果ではありません。したがって、上記審査手続及び結果は、当然に発行者の財務状況、事業計画等を含む審査項目に対して監査又はレビューの保証を提供するものではなく、また金融商品取引法及び日本証券業協会の自主規制も監査又はレビューの保証を提供することを要求していません。
        </li>
        <li>
          将来予測に関する事項について<br>
          将来予測に関する事項には、作成時点の一定の前提条件や仮定に基づく事項であり将来を約する又は保証を与えるものではなく、リスクや不確定な要素などの要因が含まれており実際の業績や見通しが著しく異なる可能性があります。なお、当社はかかる前提条件や仮定についていかなる保証をするものではありません。即ち、前提条件及び仮定が異なれば、将来予測を含む事業計画等は大きく相違する場合があります。
        </li>
        <li>
          その他の事項について<br>
          当社は提供資料及び質問等によって得た情報に基づき審査を実施していますが、当該情報の網羅性、信頼性、正確性を保証するものではありません。上記審査結果の利用にあたっては、上記事項を認識の上、お客様自らの責任で判断を行うものとします。
        </li>
      </ul>

      　上記審査結果は、投資判断のための参考資料として利用されることを唯一の目的としており、他の一切の目的に資するものではありません。そのため、上記審査結果をいかなる目的で使用される場合においてもお客様の判断と責任において使用されるものであり、上記審査結果の使用による結果について当社が責任を負うものではありません。
    </div>
  </div>

  <div class="mb-25">
    <h3>当社が行う金融商品取引業の内容及び方法の概要</h3>
    　当社が行う金融商品取引業は、主に金融商品取引法第28条第1項及び第29条の4の2第10項に規定する第一種少額電子募集取扱業務（株式投資型クラウドファンディング業務）であり、当社において募集株式に関するお取引を行われる場合は、以下によります。
    <ul>
      <li>お客様は、学生登録を行っていただいたうえで、当社Webサイト上の、ファンディング・プロジェクトの詳細ページからリスクを含めて詳細を確認していただき、投資対象となった募集株式についてお申込みいただくことができます。</li>
      <li>お申込みをいただく場合、事前に契約締結前交付書面を確認いただく必要がございます。</li>
      <li>お申込みをいただく際に、当社サービス上で募集株式のご注文が初回のお客様の場合は確認書送信フォームのページで同意をしていただく必要がございます。</li>
      <li>ご注文いただいた募集株式のお取引が成立した場合には、当社ウェブサイト上で取引報告書を交付いたします。</li>
      <li>募集株式の受渡しの状況については、発行者の作成する株主名簿により確認することができます。</li>
    </ul>
  </div>

  <div class="mb-25">
    <h3>金融商品取引契約に関する租税の概要</h3>
    <ul>
      <li>
        株式譲渡による利益は、原則として、一般株式等の譲渡所得等となります。</br>
        なお、損失が生じた場合には、他の一般株式等（一般公社債等を含みます。）の譲渡所得等との損益通算が可能となります。
      </li>
      <li>
        「上場株式等に係る譲渡所得等の金額」と「一般株式等に係る譲渡所得等の金額」は、それぞれ別々の申告分離課税とされているため、
        ①上場株式等に係る譲渡損失の金額を一般株式等に係る譲渡所得等の金額から控除すること及び②一般株式等に係る譲渡損失の金額を上場株式等に係る譲渡所得等の金額から控除することはできません。
      </li>
      <li>
        募集株式の配当金は、原則として、配当所得となります。<br>
        なお、詳細につきましては、税理士等の専門家にお問い合わせください。
      </li>
    </ul>
  </div>

  <div class="mb-25">
    <h3>当社の概要</h3>
    <div class="mb-15">
      <table class="table table-bordered">
        <tr>
          <td>1</td>
          <td width="140">商号</td>
          <td>株式会社UNCHAIN</td>
        </tr>
        <tr>
          <td>2</td>
          <td>登録番号等	</td>
          <td>金融商品取引業者 関東財務局長(金商)第2957号</td>
        </tr>
        <tr>
          <td>3</td>
          <td>本店所在地	</td>
          <td>
            〒141-0022<br>
            東京都品川区東五反田五丁目25番18号
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>加入協会</td>
          <td>日本証券業協会</td>
        </tr>
        <tr>
          <td>5</td>
          <td>指定紛争解決機関</td>
          <td>
            特定非営利活動法人 証券・金融商品あっせん相談センター<br>
            〒103-0025<br>
            東京都中央区日本橋茅場町2-1-1第二証券会館<br>
            電話番号：0120-64-5005<br>
            受付時間：月曜～金曜9:00～17:00(祝日等を除く。)
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>資本金</td>
          <td>
            243,150,100円<br>
            (平成29年7月13日現在)
          </td>
        </tr>
        <tr>
          <td>7</td>
          <td>主な事業</td>
          <td>金融商品取引業(第一種少額電子募集取扱業務)</td>
        </tr>
        <tr>
          <td>8</td>
          <td>設立年月</td>
          <td>平成27年11月26日</td>
        </tr>
        <tr>
          <td>9</td>
          <td>連絡先</td>
          <td>
            当社Webサイトのお問い合わせフォーム又は下記連絡先までご連絡ください。<br>
            メールアドレス：info@recmatch.com<br>
            電話番号　　　　03‐6721‐6691<br>
            ※この電話番号は、株式投資型クラウドファンディング業務に関する制度の内容のほか、募集株式のご購入についての事務手続やシステムの操作方法等をご案内するための連絡先です。
            株式投資型クラウドファンディング業務に係る銘柄に関するご質問への回答や説明を行うことはできません。
          </td>
        </tr>
      </table>
    </div>
    <div>
      　なお、当社は、金融商品取引法第29条の4第1項第6号イ及び同法第46条の6の自己資本規制比率に係る規制並びに同法第79条の27第1項及び第2項の投資者保護基金への加入義務が適用されません。
      また、同法第29条の4の2第9項及び第10項の規定により有価証券の券面の預託を受けることができません。
    </div>
  </div>

  <% @project.contract_images.each do |image| %>
    <div>
      <%= wicked_pdf_image_tag image.image.url, width: '100%' %>
    </div>
  <% end %>
</body>
</html>
