<ol>
  <li>
    発行者及びその行う事業の実在性
    <ol>
      <li>履歴事項全部証明書を入手し、記載内容について検討するとともに代表取締役に対し質問を実施しました。</li>
      <li>履歴事項全部証明書記載の本店に訪問し、実在性を確認しました。</li>
      <li>入手した資料について、契約締結前交付書面記載情報との整合性を確認しました。また、記載事項につき虚偽の事実は一切存在しない旨の経営者確認書を入手し確認しました。</li>
    </ol>
  </li>
  <li>
    発行者の財務状況<br>
    <%= @project.finance_condition.html_safe if @project.finance_condition.present? %>
  </li>
  <li>
    発行者の事業計画の妥当性<br>
    <%= @project.business_plan_validity.html_safe if @project.business_plan_validity.present? %>
  </li>
  <li>
    発行者の法令遵守状況を含めた適格性
    <ol>
      <li>
        事業の適法性及び社会性につき問題ない旨及び現時点において法令違反がない旨の募集取扱契約書及び経営者確認書を入手し確認しました。
      </li>
      <li>
        反社会的勢力との関係は一切無く、将来にわたって関係を有することはない旨、また、新規取引先については反社会的勢力との関係の有無につき、
        社内で調査体制を構築し反社会的勢力との関係排除の仕組みを構築する旨、及び既存取引先については、契約書に反社会的勢力排除の制約がある旨について募集取扱契約書および経営者確認書を入手し確認しました。
      </li>
      <li>
        <%= simple_format(@project.company_eligibility) if @project.company_eligibility.present? %>
      </li>
    </ol>
  </li>
  <li>
    当社と発行者との利害関係の状況<br>
    <%= simple_format(@project.stake) if @project.stake.present? %>
  </li>
  <li>
    事業継続体制及びコーポレートガバナンス体制<br>
    <%= @project.governance_system.html_safe if @project.governance_system.present? %>
  </li>
  <li>
    調達する資金の使途<br>
    目標募集額及び上限応募額記載の資金使途につき、代表取締役へのヒアリングを実施し、その内容の根拠を確認して、経営者確認書を入手しました。
  </li>
  <li>
    目標募集額及び上限応募額が発行者の事業計画に照らして適当なものであることの確認<br>
    調達額の資金使途が、事業計画、売上高等推移予想の前提条件や仮定と整合していることを資料の確認及び代表取締役への質問により確認しました。
  </li>
  <li>
    情報提供の体制<br>
    学生に対する情報提供の体制について、業務進捗等の定性的情報に関しては営業及び開発の状況につき代表取締役が適時に把握できる体制にあります。
    また、会計数値等の定量的情報に関しては代表取締役が顧問税理士に相談のうえ情報整理しています。
    加えまして、情報提供の必要性及び情報提供義務について代表取締役が自ら認識していることを経営者確認書に確認しています。
    但し、現状の企業規模を踏まえての体制であり、今後、企業規模が拡大した場合には特に定量的情報につき適時に情報提供する体制構築が求められると考えられます。
    この点につき社内ルールを策定整備する事を代表取締役に確認しています。
    また、株主に対して法令に基づく事業報告、計算書類等及び事業の状況に関する適切な情報を定期的に提供可能であり、企業規模拡大に応じて適切に体制構築する旨の経営者確認書を入手し確認しています。
  </li>
  <li>
    当該店頭有価証券に投資するに当たってのリスク<br>
    当書面に記載した事業の状況、経理の状況等に関する事項のうち、学生の投資判断に重要な影響を及ぼす可能性のある事項について、発行者の計算書類等の提出書類及び代表取締役からのヒアリングを通じて確認しました。<br>
    また、発行者は契約締結前交付書面の「株式投資型クラウドファンディングによるお取引及びご購入される株式のリスク・留意点等について」「<%= @project.company.name %>株式に投資するに当たってのリスク」及び募集ページの「企業のリスク等」に記載する発行者のリスクに係る事象の発生の可能性を認識した上で、その回避及び発生時の対応に努める方針である旨の経営者確認書を入手し確認しました。<br>
    なお、文中における将来に関する事項は、現時点において当社が判断したものであります。
  </li>
</ol>

<% if disclaimer %>
  <p>上記内容を含む当社審査基準に係る内容を総合的に判断し、ファンディング・プロジェクト案件として取扱うものとします。</p>

  　免責事項
  <ul>
    <li>
      審査手続及び結果について<br>
      上記審査手続及び結果は、金融商品取引業等に関する内閣府令第70条の2第2項第3号及び株式投資型クラウドファンディング業務に関する規則第4条第1項（日本証券業協会の自主規制規則）に基づく当社の審査規定に基づき実施された手続及び結果であり、投資判断の参考資料とするための情報を提供することを目的としており、証明や保証を行うための手続を含んでいません。<br>
      上記審査手続及び結果は、一般に公正妥当と認められる監査の基準又はレビューの基準に準拠して実施された手続及び結果ではありません。したがって、上記審査手続及び結果は、当然に発行者の財務状況、事業計画等を含む審査項目に対して監査又はレビューの保証を提供するものではなく、また金融商品取引法及び日本証券業協会の自主規制も監査又はレビューの保証を提供することを要求していません。
    </li>
    <li>
      将来予測に関する事項について<br>
      将来予測に関する事項には、作成時点の一定の前提条件や仮定に基づく事項であり将来を約する又は保証を与えるものではなく、リスクや不確定な要素などの要因が含まれており実際の業績や見通しが著しく異なる可能性があります。なお、当社はかかる前提条件や仮定についていかなる保証をするものではありません。即ち、前提条件及び仮定が異なれば、将来予測を含む事業計画等は大きく相違する場合があります。
    </li>
    <li>
      その他の事項について<br>
      当社は提供資料及び質問等によって得た情報に基づき審査を実施していますが、当該情報の網羅性、信頼性、正確性を保証するものではありません。上記審査結果の利用にあたっては、上記事項を認識の上、お客様自らの責任で判断を行うものとします。
    </li>
  </ul>

  　上記審査結果は、投資判断のための参考資料として利用されることを唯一の目的としており、他の一切の目的に資するものではありません。そのため、上記審査結果をいかなる目的で使用される場合においてもお客様の判断と責任において使用されるものであり、上記審査結果の使用による結果について当社が責任を負うものではありません。
<% end %>