<div class="row">
  <div class="col-md-6">
    <%= simple_form_for([:admin, @pickup_project]) do |f| %>
      <%= f.error_notification %>
      <%= f.association :project %>
      <%= f.input :rank %>
      <%= f.button :submit, class: 'btn-primary' %>
    <% end %>
  </div>
</div>
