<% content_for(:page_classes) { 'projects show' } %>
<% content_for(:title) { @event.title } %>
<% content_for(:description) { @event.description } %>
<% content_for(:image) { @event.image.url } %>

<div class="introduction mb-25">
  <div class="clearfix mb-10">
    <div class="pull-left">
      <h1><span style="border-bottom: solid 3px #000080;"><i class="fa fa-briefcase" aria-hidden="true"></i> <%= @event.title %></span></h1>
    </div>
    <div class="pull-right ">
      <small class="text-muted"><%= render_breadcrumbs separator: ' > ', builder: ::CustomBreadcrumbsBuilder %></small>
    </div>
  </div>
  <div class="row" style="background-color: #fff;">
    <div class="col-md-8">
      <% if request.variant.include? :mobile %>
        <%= image_tag(@event.image.url, width: '100%', height: '100%', alt: @event.title) %>
      <% else %>
        <%= image_tag(@event.image.url, width: '100%', height: '500px', alt: @event.title) %>
      <% end %>
    </div>
    <div class="col-md-4 details z-depth-1" style="border: solid rgba(130, 130, 130, 0.5);">
      <% if @event.status == Event::E_OPEN %>
        <%= render 'events/details_succeeded' %>
      <% else %>
        <%= render 'events/details_failed' %>
      <% end %>
    </div>
  </div>
</div>
<div id="show" class="row mb-30">
  <div class="social">
    <% if false %>
      <div class="social__item">
        <div class="fb-like" data-href="<%= request.original_url %>" data-layout="box_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
      </div>
    <% end %>
    <div class="social__item">
      <a class="social__link social__link--facebook" type="button" class="btn btn-primary" data-toggle="modal" data-target="#model__facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
    <div class="social__item">
      <a class="social__link social__link--twitter" type="button" class="btn btn-primary" data-toggle="modal" data-target="#model__twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
    <div class="social__item">
      <a style="background-image: url(<%= asset_path 'social/line.png' %>)" class="social__link social__link--line" type="button" class="btn btn-primary" data-toggle="modal" data-target="#model__line">
      </a>
    </div>
  </div>
  <%= render 'events/content' %>

  <% if @event.persisted? %>
    <div class="modal fade" id="model__facebook" tabindex="-1" role="dialog" aria-hidden="true">
      <%= render 'model_social', title: @event.name, title_modal: 'ここから先はFacebookのサイトに遷移します。', social: 'facebook' %>
    </div>
    <div class="modal fade" id="model__twitter" tabindex="-1" role="dialog" aria-hidden="true">
      <%= render 'model_social', title: @event.name, title_modal: 'ここから先はTwitterのサイトに遷移します。', social: 'twitter' %>
    </div>
    <div class="modal fade" id="model__line" tabindex="-1" role="dialog" aria-hidden="true">
      <%= render 'model_social', title: @event.name, title_modal: 'ここから先はLINEのサイトに遷移します。', social: 'line' %>
    </div>
  <% end %>
</div>

<div class="row mb-30 disclaimers">
  <div class="col-md-8 col-md-offset-2">
    <div class="p-25" style="background-color:#FFFFBB;color:#999999;">
      <%= render 'disclaimers' %>
    </div>
  </div>
</div>

<%=
  jquery_view(
    'views.events.ShowView',
    turbolinks: true,
    isMobile: request.variant.include?(:mobile)
  )
%>

<script type="text/javascript">
  <% if @event.present? && request.fullpath == '/events/' + @event.id.to_s %>
    var content_id1 = '<%= 'event' + @event.id.to_s %>';

    fbq('track', "ViewContent", {
      content_ids: [content_id1, content_id2],
      content_type: 'product',
      value: solicited,
      currency: 'JPY'
    });
  <% end %>

  <% if Rails.env.production? %>
    window._pt_lt = new Date().getTime();
    window._pt_sp_2 = [];
    _pt_sp_2.push('setAccount,62a43b5c');
    var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    (function () {
      var atag = document.createElement('script');
      atag.type = 'text/javascript';
      atag.async = true;
      atag.src = _protocol + 'js.ptengine.jp/pta.js';
      var stag = document.createElement('script');
      stag.type = 'text/javascript';
      stag.async = true;
      stag.src = _protocol + 'js.ptengine.jp/pts.js';
      // var s = document.getElementsByTagName('script')[0];
      var s = document.getElementsByTagName('footer')[0];
      s.parentNode.insertBefore(atag, s);
      s.parentNode.insertBefore(stag, s);
    })();
  <% end %>
</script>

