<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">お問い合わせ</h1>
      </div>
      <div class="card-body card-padding">
        <%= simple_form_for(@contact, url: contact_path) do |f| %>
          <div class="mb-20">
            <%= f.error_notification %>
            <%= f.input :name, required: true, label: 'お名前' %>
            <%= f.input :email, required: true, label: 'メールアドレス' %>
            <%= f.input :message, as: 'text', required: true, label: 'お問い合わせ内容', input_html: {rows: 10} %>
            <%= f.input(:file, label: '添付ファイル') if user_signed_in? %>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= f.button :submit, '送信', class: 'btn-lg btn-block btn-info' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
