<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">居住地国・外国PEPs・FATCA届出の編集</h4>
    </div>
    <div class="modal-body">
      <%= simple_form_for(@pep, url: admin_student_pep_path(@student), remote: true) do |f| %>
        <%= f.error_notification %>
        <%= f.input :received_at %>
        <%= f.association :receiver, collection: Admin.with_any_role(:admin, :recmatch_business_department) %>
        <%= f.association :approver, collection: Admin.with_any_role(:admin) %>
        <%= f.button :submit, '更新', class: 'btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
