<div class="login-box">
  <div class="login-logo">
    <%= link_to Settings.application_name, root_path %>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">ログインしてください</p>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, label: false, required: true, autofocus: true, placeholder: "メールアドレス" %>
        <%= f.input :password, label: false, required: true, placeholder: "パスワード" %>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="col-xs-4">
          <%= f.button :submit, "ログイン", class: "btn btn-primary btn-block btn-flat" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
