<% content_for(:page_classes) { 'mypage applicants show' } %>

<% if @events.size > 0 %>
<% @events.each do |e| %>
<div id="index_view" class="card z-depth-1">
  <div class="card-header with-border">
    <h3><span><i class="fa fa-address-card-o" aria-hidden="true"></i> <%= e.title %>参加希望の学生一覧</span></h3>
    <p class="pt-10"><small>※学生一覧はイベント終了日の翌々月に自動的に削除されます。</small></p>
  </div>
  <% @applicants = EventApplicant.where(event_id: e.id) %>
  <% if @applicants.size > 0 %>
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>学生名</th>
          <th>大学</th>
          <th>参加可否</th>
          <th>操作</th>
        </tr>
        </thead>
        <% @applicants.each do |p| %>
          <tbody>
            <tr>
              <td>
                <%= link_to mypage_company_search_student_path(p.student.id) do %>
                  <%= p.student.name %>
                <% end %>
              </td>
              <td><%= University::names_with_univ.key(p.student.university) %></td>
              <td><%= EventApplicant.name_with_company_status.key(p.status) %></td>
              <td>
               <% if p.status != EventApplicant::S_FINISH && p.status != EventApplicant::S_REJECTED && p.status != EventApplicant::S_APPROVE %>
                  <%= link_to '参加確定', mypage_company_event_applicant_path(p), class: 'btn btn-xs btn-info', method: 'patch', data: { confirm: '参加を承諾しますか？'} %>
                  <% if p.status != EventApplicant::S_SELECTION %>
                    <%= link_to '検討', wait_mypage_company_event_applicant_path(p), class: 'btn btn-xs btn-warning', method: 'post', data: { confirm: '参加を検討しますか？' } %>
                  <% end %>
                  <%= link_to '落選', finish_mypage_company_event_applicant_path(p), class: 'btn btn-xs btn-danger', method: 'post', data: { confirm: '参加を却下しますか？' } %>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  <% else %>
    <div class="card-body pt-20 card-padding">
      学生からの応募はありません。<br>
      広告の記載、企業様からのオファーもご検討ください。
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-md-offset-2">
              <%= link_to '広告', mypage_reports_path, class: 'btn btn-primary btn-lg btn-success-o' %>
            </div>
            <div class="col-md-4">
              <%= link_to 'オファーする', mypage_student_applicants_path, class: 'btn btn-primary btn-lg btn-info-o' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>
<% end %>
<% else %>
<div id="index_view" class="card z-depth-1">
  <div class="card-header with-border">
    <h3><span><i class="fa fa-wrench" aria-hidden="true"></i> イベント参加希望の学生一覧</span></h3>
  </div>
  <div class="card-body pt-20 card-padding">
    学生からの応募はありません。<br>
    広告の記載、企業様からのオファーもご検討ください。
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-12 mb-20">
        <div class="text-center">
          <%= link_to 'イベントページ作成', '/eventorder', class: 'btn btn-primary btn-lg btn-success-o' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>