<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">面談日を<%= @meet.start.present? ? '編集' : '登録' %></h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <%= simple_form_for(@meet, url: @meet.start.present? ? change_make_date_mypage_company_applicant_path(@meet) : confirm_make_date_mypage_company_applicant_path(@meet), remote: true, method: 'post') do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :status, value: ProjectMeet::S_CONTACT %>
        <%= f.input :start, label: '開始日時' %>
        <%= f.input :end, label: '終了日時' %>
        <%= f.button :submit, class: 'btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
