<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">納税書の却下</h4>
    </div>
    <div class="modal-body">
      <%= simple_form_for(@student, url: reject_admin_student_tax_path, remote: true) do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :tax_payment_receipt_status, value: Student::TPRS_REJECTED %>
        <%= f.input :comment, label: "コメント", as: "text", required: true %>
        <br>
        <%= f.button :submit, "却下する", class: 'btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
