<% content_for(:page_classes) { 'mypage companies wizard basics show' } %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="card">
      <div class="card-body">
        <%= render 'mypage/companies/wizard/progress', {step: 2} %>
      </div>
      <div class="card-body card-padding z-depth-1">
        <div class="p-20 m-b-30" style="background-color:#FFFFBB;color:#999999;">
          <span title="required">*</span> 印は必須入力項目です
        </div>
        <%= simple_form_for(@company, url: mypage_company_wizard_basic_path, wrapper: 'horizontal_form', html: {class: 'form-horizontal'}) do |f| %>
          <%= f.error_notification %>
          <%= f.hidden_field :user_id %>

          <div class="mb-50">
            <%= render 'mypage/companies/basics/form', f: f %>
          </div>

          <div class="clearfix">
            <div class="pull-left">
              <%= link_to '前へ', mypage_company_wizard_agreement_path, class: 'btn btn-lg btn-info-o' %>
            </div>
            <div class="pull-right">
              <%= f.button :submit, '次へ', class: 'btn-lg btn-info' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
