<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title"><%= yield(:title) %></h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <%= simple_form_for(@user, url: admin_company_staffs_path) do |f| %>
          <%= f.error_notification %>
          <%= f.hidden_field :role_ids, value: [Role::R_STAFF] %>
          <%= f.simple_fields_for :staff do |e| %>
            <%= e.hidden_field(:company_id, value: @company.id) %>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <%= e.input :last_name, required: true %>
                  </div>
                  <div class="col-md-6">
                    <%= e.input :first_name, required: true %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <%= e.input :last_name_kana, required: true %>
                  </div>
                  <div class="col-md-6">
                    <%= e.input :first_name_kana, required: true %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-12">
              <%= f.input :email, required: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.input :password, required: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.input :password_confirmation, required: true %>
            </div>
          </div>
          <%= f.button :submit, class: 'btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
